{% extends 'base.html.twig' %}
{% trans_default_domain 'BkstgCoreBundle' %}

{# set the theme #}
{% set production = current_production() %}
{% if production is not null and production.theme is not empty %}
  {% set body_attr = {'class': 'theme-'~production.theme} %}
{% endif %}

{% block body %}
  {% block navigation %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      {% include '@BkstgCore/_navbar.html.twig' %}
    {% endif %}
  {% endblock %}
  {% block main %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-sm-3 col-md-2 bg-dark">
          {% block aside %}
            <div class="sidebar-menu row">
              {{ knp_menu_render('bkstg_production_menu', {'template': '@BkstgCore/Menu/_context_menu.html.twig'}) }}
            </div>
          {% endblock %}
        </div>
        <div class="col-10 col-sm-9 col-md-10">
          {% block header %}
            {% include '@BkstgCore/_header.html.twig' with { 'title': page_title } only %}
          {% endblock %}
          {% include '@BkstgCore/_alerts.html.twig' %}
          {% block content %}{% endblock %}
          {% block footer %}
            {% include '@BkstgCore/_footer.html.twig' %}
          {% endblock %}
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block stylesheets %}
  <!-- Core bundle CSS -->
  <link rel="stylesheet" href="{{ asset('bundles/bkstgcore/css/all.css') }}">
{% endblock %}

{% block javascripts %}
  <!-- Vendor JS -->
  <script src="{{ asset('vendor/list.js/dist/list.min.js') }}"></script>
  <script src="{{ asset('vendor/chosen-js/chosen.jquery.min.js') }}"></script>

  <!-- Core bundle JS -->
  <script src="{{ asset('bundles/bkstgcore/all.js') }}"></script>
{% endblock %}
