{% trans_default_domain 'BkstgCoreBundle' %}
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-group">
  <button class="btn btn-secondary">{{ 'Clear'|trans }}</button>
  <button type="submit" class="btn btn-primary">{{ 'Filter'|trans }}</button>
</div>
{{ form_end(form) }}
