{% trans_default_domain 'BkstgCoreBundle' %}
<div class="panel panel-default">
  <div class="panel-body">
    {{ form_start(form) }}
      {{ form_errors(form) }}

      {# render form elements #}
      {% for item in form %}
        {% if "hidden" not in item.vars.block_prefixes %}
          <div class="form-group">
            {{ form_label(item, label|default(null), { 'label_attr': { 'class': 'hidden'}}) }}
            {{ form_widget(item, { 'attr': { 'placeholder': item.vars.label|default(null), 'class': 'form-control'}}) }}
          </div>
        {% endif %}
      {% endfor %}

      {# render the submit button #}
      <div class="submit-wrapper form-item">
        <input type="submit" value="{{ submit_value|default('Submit') }}" class="btn btn-primary" />
      </div>
    {{ form_end(form) }}
  </div>
</div>
