<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="{{ url('bkstg_home') }}">{{ 'The Backstage'|trans }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-content">
    {# Render the main menu #}
    {{ knp_menu_render('bkstg_main_menu', { 'template': '@BkstgCore/Menu/main_menu.html.twig' }) }}

    {# Render notifications block #}
    {{ sonata_block_render_event('bkstg.notification.notifications') }}

    {# Render search block #}
    {{ sonata_block_render_event('bkstg.search.search_bar') }}
  </div>
</nav>
