{% extends '@BkstgCore/layout-admin.html.twig' %}
{% trans_default_domain 'BkstgCoreBundle' %}
{% set page_title = 'production.delete_production'|trans({'%production%': production.name}) %}

{% block content %}
  {% include '@BkstgCore/ProductionAdmin/_actions.html.twig' with { 'production': production } only %}
  <p>{{ 'production.delete_confirm'|trans({'%production%': production.name}) }}</p>
  <p>{{ 'production.delete_consequences'|trans }}</p>
  <p><strong>{{ 'production.delete_no_undo'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
      <a href="{{ url('bkstg_production_admin_index') }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
    </div>
  {{ form_end(form) }}
{% endblock %}
