{% extends '@BkstgCore/layout-admin.html.twig' %}
{% set page_title = 'Delete production "%production%"'|trans({'%production%': production.name}) %}
{% trans_default_domain 'BkstgCoreBundle' %}

{% block content %}
  <p>{{ 'Are you sure you want to delete "%production%"?'|trans({'%production%': production.name}) }}</p>
  <p>{{ 'All content associated with this production will be lost or orphaned.'|trans }}</p>
  <p><strong>{{ ' This action cannot be undone.'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <a href="{{ url('bkstg_production_admin_index') }}" class="btn btn-secondary">{{ 'Cancel'|trans }}</a>
      <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
