{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = "%name%'s Profile"|trans({ '%name%': profile.firstName }) %}
{% block content %}
  {% if is_granted('edit', profile) %}
    <p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url('bkstg_profile_show', {'profile_slug': profile.slug}) }}">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url('bkstg_profile_edit', {'id': profile.id}) }}">Edit</a>
        </li>
      </ul>
    </p>
  {% endif %}
  <div class="row">
    <div class="col-lg-3">
      {% media profile.image, 'big' with {'class': 'img-fluid'} %}
    </div>
    <div class="col-lg-9">
      <dl class="row">
        <dt class="col-sm-3">{{ 'Name'|trans }}</dt>
        <dd class="col-sm-9">{{ profile.firstName }} {{ profile.lastName }}</dd>

        <dt class="col-sm-3">{{ 'Email'|trans }}</dt>
        <dd class="col-sm-9">{{ profile.email }}</dd>

        <dt class="col-sm-3">{{ 'Height'|trans }}</dt>
        <dd class="col-sm-9">
          {{ profile.height.toUnit('m')|round(0, 'floor') }} {{ 'm'|trans }}
        </dd>

        <dt class="col-sm-3">{{ 'Weight'|trans }}</dt>
        <dd class="col-sm-9">{{ profile.weight.toUnit('kg')|round }} {{ 'kg'|trans }}</dd>

        <dt class="col-sm-3">{{ 'Phone'|trans }}</dt>
        <dd class="col-sm-9">{{ profile.phone }}</dd>

        <dt class="col-sm-3">{{ 'Websites'|trans }}</dt>
        <dd class="col-sm-9">
          <ul>
            <li><a href="{{ profile.facebook }}">{{ 'Facebook'|trans }}</a></li>
            <li><a href="{{ profile.twitter }}">{{ 'Twitter'|trans }}</a></li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
{% endblock %}
