{% extends 'BkstgCoreBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    {{ form_start(form) }}
      <div class="panel-body form-group">
          {{ form_label(form.email, "Email address") }}
          {{ form_errors(form.email, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.firstName) }}
          {{ form_errors(form.firstName, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.lastName) }}
          {{ form_errors(form.lastName, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.phoneHome) }}
          {{ form_errors(form.phoneHome, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.phoneHome, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.phoneMobile) }}
          {{ form_errors(form.phoneMobile, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.phoneMobile, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.positions) }}
          {{ form_errors(form.positions, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          <ul class="positions form-inline list-unstyled" data-prototype="{{ include('BkstgCoreBundle:User:position_form.html.twig', { 'form': form.positions.vars.prototype })|e }}">
            {% for position in form.positions %}
              <li class="list-group-item">{{ include('BkstgCoreBundle:User:position_form.html.twig', { 'form': position }) }}</li>
            {% endfor %}
          </ul>
          {{ form_label(form.roles) }}
          {{ form_widget(form.roles) }}
      </div>
      <div class="panel-footer">
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
      {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
  </div>
{% endblock %}

{# override error display #}
{% form_theme form _self %}
{% block form_errors %}
  {% if errors|length > 0 %}
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        {% for error in errors %}
          <li>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{ error.message }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock form_errors %}

{% block javascripts %}
{{ parent() }}
<script>
// setup an "add a position" link
var $addPositionLink = $('<a href="#" class="btn btn-primary add_position_link">Add a position</a>');
var $newLinkLi = $('<li class="list-group-item"></li>').append($addPositionLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of positions
   var $collectionHolder = $('ul.positions');

    // add the "add a position" anchor and li to the positions ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addPositionLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new position form (see code block below)
        addPositionForm($collectionHolder, $newLinkLi);
    });


});

function addPositionForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '$$name$$' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a position" link li
    var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);

    // also add a remove button, just for this example
    $newFormLi.append('<a href="#" class="btn btn-danger remove-position"><span class="glyphicon glyphicon-trash"></span> Delete</a>');

    $newLinkLi.before($newFormLi);

    // handle the removal, just for this example
    $('.remove-position').click(function(e) {
        e.preventDefault();

        $(this).parent().remove();

        return false;
    });
}
</script>
{% endblock %}
