{% extends 'BkstgCoreBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    {{ form_start(form) }}
      <div class="panel-body form-group">
          {{ form_label(form.email, "Email address") }}
          {{ form_errors(form.email, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.firstName) }}
          {{ form_errors(form.firstName, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.lastName) }}
          {{ form_errors(form.lastName, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.phoneHome) }}
          {{ form_errors(form.phoneHome, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.phoneHome, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.phoneMobile) }}
          {{ form_errors(form.phoneMobile, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          {{ form_widget(form.phoneMobile, { 'attr': { 'class': 'form-control' }}) }}
          {{ form_label(form.positions) }}
          {{ form_errors(form.positions, { 'attr': { 'class': 'alert alert-danger', 'role': 'alert' }}) }}
          <ul class="positions form-inline list-unstyled" data-prototype="{{ include('BkstgCoreBundle:User:position_form.html.twig', { 'form': form.positions.vars.prototype })|e }}">
            {% for position in form.positions %}
              <li class="list-group-item">{{ include('BkstgCoreBundle:User:position_form.html.twig', { 'form': position }) }}</li>
            {% endfor %}
          </ul>
          {{ form_label(form.roles) }}
          {{ form_widget(form.roles) }}
      </div>
      <div class="panel-footer">
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
      {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
  </div>
{% endblock %}

{# override error display #}
{% form_theme form _self %}
{% block form_errors %}
  {% if errors|length > 0 %}
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        {% for error in errors %}
          <li>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{ error.message }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock form_errors %}
