{% if not item.isRoot %}
  {# Build a class list #}
  {% set classes = ['list-group-item', 'bg-dark', 'text-light'] %}

  {# Add the active class #}
  {% if matcher.isCurrent(item) or matcher.isAncestor(item) %}
    {% set classes = classes|merge(['active']) %}
  {% endif %}
  <a class="{{ classes|join(' ') }}" href="{{ item.uri }}">
    {% if item.extras.icon is defined %}
      <i class="fa fa-{{ item.extras.icon }}"></i>
    {% endif %}
    {{ item.label }}
  </a>
{% elseif item.label != 'root' %}
  <h5>{{ item.label }}</h5>
{% endif %}
{% if item.hasChildren and (matcher.isAncestor(item) or item.isRoot) %}
  <div class="list-group">
    {% for child in item.children %}
      {% include '@BkstgCore/Menu/context_menu.html.twig' with { 'item': child } %}
    {% endfor %}
  </div>
{% endif %}
