<ul class="navbar-nav">
{% for child in item.children %}
  {% if child.hasChildren %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{{ child.uri }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if child.extras.icon is defined %}<i class="fa fa-{{ child.extras.icon }}"></i>{% endif %}
        {{ child.label }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for dropdown in child.children %}
          <a class="dropdown-item" href="{{ dropdown.uri }}">
            {% if dropdown.extras.icon is defined %}<i class="fa fa-{{ dropdown.extras.icon }}"></i>{% endif %}
            {{ dropdown.label }}
          </a>
        {% endfor %}
      </div>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{ child.uri }}">
        {% if child.extras.icon is defined %}<i class="fa fa-{{ child.extras.icon }}"></i>{% endif %}
        {{ child.label }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
