{% trans_default_domain 'BkstgCoreBundle' %}
<ul class="navbar-nav mr-auto">
{% for child in item.children %}
  {% if child.hasChildren %}
    <li class="nav-item dropdown{% if matcher.isCurrent(child) or matcher.isAncestor(child) %} active{% endif %}">
      <a class="nav-link dropdown-toggle" href="{{ child.uri }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if child.extras.icon is defined %}<i class="fa fa-{{ child.extras.icon }}"></i>{% endif %}
        {{ child.label|trans([], child.extras.translation_domain|default('messages')) }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for dropdown in child.children %}
          {% if dropdown.extras.separator is defined and dropdown.extras.separator %}
            <div class="dropdown-divider"></div>
          {% else %}
            <a class="dropdown-item" href="{{ dropdown.uri }}">
              {% if dropdown.extras.icon is defined %}<i class="fa fa-{{ dropdown.extras.icon }}"></i>{% endif %}
              {{ dropdown.label|trans([], child.extras.translation_domain|default('messages')) }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </li>
  {% else %}
    <li class="nav-item{% if matcher.isCurrent(child) or matcher.isAncestor(child) %} active{% endif %}">
      <a class="nav-link" href="{{ child.uri }}">
        {% if child.extras.icon is defined %}<i class="fa fa-{{ child.extras.icon }}"></i>{% endif %}
        {{ child.label|trans([], child.extras.translation_domain|default('messages')) }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
