{% trans_default_domain 'BkstgCoreBundle' %}

{{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="form-group">
    <a href="{{ url('bkstg_production_admin_index') }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
    <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
  </div>
{{ form_end(form) }}
