{% extends '@BkstgCore/layout-admin.html.twig' %}
{% set page_title = 'Productions'|trans %}
{% block content %}
  <p><ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link{% if app.request.query.get('status') != 'closed' %} active{% endif %}" href="{{ url('bkstg_production_list') }}">{{ 'Active'|trans }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if app.request.query.get('status') == 'closed' %} active{% endif %}" href="{{ url('bkstg_production_list') }}?status=closed">{{ 'Closed'|trans }}</a>
    </li>
  </ul></p>
  {% if productions is empty %}
    <p>{{ 'No productions found.'|trans }}</p>
  {% else %}
    <p><div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Description'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Expiry'|trans }}</th>
            <th>{{ 'Visibility'|trans }}</th>
            <th>{{ 'Author'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
              <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for production in productions %}
          <tr class="{{ production.status ?: 'danger' }}">
            <td><a href="{{ url('bkstg_production_show', {'production_slug': production.slug}) }}">{{ production.name }}</a></td>
            <td>{{ production.description|striptags|truncate(25, true, '...') }}</td>
            <td>{{ production.created|date('M d, Y H:i:s') }}</td>
            <td>{{ production.updated|date('M d, Y H:i:s') }}</td>
            <td>{{ production.status ? 'Open' : 'Closed' }}</td>
            <td>{{ production.expiry ? production.expiry|date('M d, Y H:i:s') : '' }}</td>
            <td>{{ production.visibility ? 'Public' : 'Private' }}</td>
            <td>{{ production.author }}</td>
            <td>
              {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('bkstg_production_edit', {'id': production.id}) }}">Edit</a>
                -
                <a href="{{ url('bkstg_production_delete', {'id': production.id}) }}">Delete</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div></p>
  {% endif %}
{% endblock %}

{# Override header block to add create link #}
{% block header %}
  <header>
    <h1>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('bkstg_production_create') }}" class="btn btn-success">
          <span class="fa fa-plus" aria-hidden="true"></span>
          <span class="sr-only">{{ 'Create new production'|trans }}</span>
        </a>
      {% endif %}
      {{ page_title }}
    </h1>
  </header>
{% endblock %}
